*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#scene {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#scene canvas {
  position: relative;
  display: block;
}

.triakis-animation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triakis-sections {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  margin-top: -100vh;
}

.triakis-section {
  box-shadow: 0 0 0 1px red;
  width: 100%;
  height: 130vh;
}

.triakis-section__inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  content-visibility: hidden;
  will-change: opacity;
  opacity: 0.001;
}

/* body::before {
  position: fixed;
  content: '';
  top: 0;
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  z-index: 10;
  opacity: 0.2;
}

body::after {
  position: fixed;
  content: '';
  top: 50%;
  width: 100%;
  height: 1px;
  left: 0;
  transform: translateY(-50%);
  background-color: black;
  z-index: 10;
} */

.loading-screen {
  --progress: 0;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
  margin-bottom: -100vh;
}

.loading-screen__text {
  position: relative;
}

.loading-screen__text::before {
  position: absolute;
  content: '';
  bottom: -0.5rem;
  left: 50%;
  width: 7rem;
  height: 4px;
  background-color: teal;
  transform-origin: left;
  transform: translateX(-50%) scaleX(var(--progress));
}

.loading-screen__images {
  --w: max(45vw, 600px);
  --h: calc(var(--w) * 1);
  position: absolute;
  top: calc((100vh - var(--h) * 2) * 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(calc(var(--w) * -1)) rotate(15deg);
}

.loading-screen__images div {
  position: absolute;
  top: 0;
  left: calc(var(--w) * 0.5 * var(--index));
  width: var(--w);
  height: var(--h);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: scale(0.9);
  content-visibility: hidden;
  opacity: 0.001;
  will-change: opacity;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M50,60L100,100L0,100L50,60Z' style='fill:url(%23_Linear1);'/%3E%3Cpath d='M50,0L50,60L0,100L50,0Z' style='fill:url(%23_Linear2);'/%3E%3Cpath d='M50,0L50,60L100,100L50,0Z' style='fill:url(%23_Linear3);'/%3E%3Cdefs%3E%3ClinearGradient id='_Linear1' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1.08752e-15,-17.7606,17.7606,1.08752e-15,49.9504,100.017)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3ClinearGradient id='_Linear2' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(12.3552,6.17761,-6.17761,12.3552,25.4183,48.3912)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3ClinearGradient id='_Linear3' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-12.3552,6.17761,6.17761,12.3552,74.5817,48.3912)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M50,60L100,100L0,100L50,60Z' style='fill:url(%23_Linear1);'/%3E%3Cpath d='M50,0L51,60L0,100L50,0Z' style='fill:url(%23_Linear2);'/%3E%3Cpath d='M50,0L49,60L100,100L50,0Z' style='fill:url(%23_Linear3);'/%3E%3Cdefs%3E%3ClinearGradient id='_Linear1' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1.08752e-15,-17.7606,17.7606,1.08752e-15,49.9504,100.017)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3ClinearGradient id='_Linear2' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(12.3552,6.17761,-6.17761,12.3552,25.4183,48.3912)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3ClinearGradient id='_Linear3' x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-12.3552,6.17761,6.17761,12.3552,74.5817,48.3912)'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='0.48' style='stop-color:white;stop-opacity:0.5'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.loading-screen__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading-screen__images div:nth-child(n + 8) {
  left: calc(var(--w) * 0.5 * (var(--index) - 7));
  top: var(--h);
}

.loading-screen__images div:nth-child(even) {
  transform: rotate(180deg);
}

.tp-dfwv {
  position: fixed !important;
  z-index: 100;
}

#scene {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

#scene::before {
  position: absolute;
  content: '';
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/textures/tealLayer.webp');
  mix-blend-mode: lighten;
  opacity: 0.4;
  pointer-events: none;
}

.clouds {
  position: absolute;
  inset: 0;
  display: grid;
  z-index: 0;
  opacity: 0.8;
}

.clouds--front {
  z-index: 2;
}

.clouds .cloud {
  grid-column-start: 1;
  grid-row-start: 1;
}

.cloud-one {
  transform: translateX(-10%);
}
.cloud-two {
  transform: translateY(-10%);
}
