*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#scene {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

.triakis-animation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triakis-sections {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: -100vh;
}

.triakis-section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px red;
  width: 100%;
  height: 100vh;
}

/* body::before {
  position: fixed;
  content: '';
  top: 0;
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  z-index: 10;
  opacity: 0.2;
}

body::after {
  position: fixed;
  content: '';
  top: 50%;
  width: 100%;
  height: 1px;
  left: 0;
  transform: translateY(-50%);
  background-color: black;
  z-index: 10;
} */

.loading-screen {
  --progress: 0;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
  background-color: #fff;
}

.loading-screen__text {
  position: relative;
}

.loading-screen__text::before {
  position: absolute;
  content: '';
  bottom: -0.5rem;
  left: 50%;
  width: 7rem;
  height: 4px;
  background-color: teal;
  transform-origin: left;
  transform: translateX(-50%) scaleX(var(--progress));
}

.loading-screen__images {
  --w: 30vw;
  --h: calc(var(--w) * 1.5s);
  display: flex;
}

.loading-screen__images img {
  object-fit: cover;
  width: var(--w);
  height: var(--h);
}

.loading-screen__images img:nth-child(odd) {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  margin-left: calc(var(--w) * -0.5);
}

.loading-screen__images img:nth-child(even) {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-left: calc(var(--w) * -0.5);
}

.tp-dfwv {
  position: fixed !important;
}

#scene {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/textures/tealLayer.webp');
}
